@use './typography' as t;
@import "mixins";
@import "variables";

.container-1{
    @include flexible();
    max-width: 1500px;
    margin:0px auto;
    margin-top: 10%;
    &__img{
        &--wrapper{
            width: 15vw;
            max-width: 200px;
            max-height: 150px;
                @media screen and (max-width: $logo-breakpoint) {
                        display: none;
                  }
        }
}


    &__content{
        padding: 5px;
        text-align: center;
       
        @include flexible(column,$gap:5px);

        &--input-fields{
                    margin-top: 20px;
                    border: 1px solid red;
                    display: inline-flex;
                    border-radius: 3px;
                    border: 1px solid rgba(180, 179, 179, 0.3);
                    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);

                    & input{
                                padding: 15px;
                                height: 35px;
                                border: none;
                                outline: none;
                    }

                    & button{
                            margin: 3px;
                             padding:5px;
                            //  align-self: center;
                            border: 1px solid transparent;
                            color: $signup-btn-color;
                            background-color: $logo-bg-color;
                            border-radius: 3px;
                    }


                    @media screen and (max-width:$max-width-value-mobile){
                        width:90%;
                        justify-content: center;
                        flex-direction: column;
                    }
        }

        &--quote{
            @include t.quote();
        }

        &--avatars{
             
            white-space: nowrap;
               @include flexible($gap:1%);               
               @media screen and (max-width: $max-width-value-mobile){
                    flex-direction: column;
                     white-space: normal             
                  }
        }

        &--avatars--icon{
                border: 2.5px solid white;
                width: 25px;
                height: 25px;
                object-fit: cover;
                border-radius: 50%;

                &:not(:first-child){
                    margin-left: -12px;
                }
        }


        &--avatars--description{
            padding: 5px 10px;
            @include t.quote();
            border-left: 1px solid rgba(180, 179, 179, 0.3);

            @media screen and (max-width:$max-width-value-mobile) {
                border: none;
            }

        }


            &--head1 {
                @include t.head();
        }
        

            &--head2 {
                color: $logo-bg-color;
                @include t.head();
            }       

            // @media screen and (max-width:$max-width-value-mobile) {
            //     margin-top: 10vh;
            // }

            @media screen and (max-width:$logo-breakpoint) {
                width: 100%;
            }
    }
   
}


.container-2{
@include container-styles();
}


.container-3{
    @include container-styles();
    background-color:$signup-btn-bg-color;
    color:  $signup-btn-color; 
    border-radius:10px;
    &__content--tick-icon{
        background-color: $signup-btn-bg-color;
    }
}

.container-4{
    @include container-styles();
}


