%icon-style {
    position: absolute;
    right: 0;
    margin-right: 20px;
    width: 25px;
    height: 30px;
    cursor: pointer;
}


@mixin flexible($direction: row, $justify: center, $align: center, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin signup-btn {
    color: $signup-btn-color;
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: $signup-btn-bg-color;
    @include t.button();

    &:hover {
        cursor: pointer;
        background-color: darken($color: (
                $signup-btn-bg-color),
            $amount: 30
        );
}
}



@mixin login-btn {
    border: none;
    background-color: transparent;

    @include t.button();

    &:hover {
        cursor: pointer;
        color: $logo-bg-color;
    }
}

@mixin brand-logo {
    @include t.title();

    &::first-letter {
        padding: 0px 3px;
        color: $brand-name-color;
        background-color: $logo-bg-color;
        border-radius: 1px 10px; //topleft and bottom right - topright and bottom-left
    }

    &:hover {
        cursor: pointer;
    }
}


@mixin container-styles{
    padding: 5px;
    margin: 5vw auto;
    max-width: 1500px;
    width: 98%;
    height: 550px;
    @include flexible($gap:2vw);
 
     &__img--wrapper{
     width: 50%;
     height: 100%;
    // border: 1px solid aqua;
   
     @media screen  and (max-width:$max-width-value) and (min-width:$max-width-value-mobile){
         width: 65%;
        // height: 60%;
     // border: 1px solid grey;
     }
 
     @media screen and (max-width:$max-width-value-mobile) {
         width: 85%;
        // height:100%;
         // border: 1px solid red;
     }
     }
 
     &__img{
         width: 100%;
         height: 100%;
        object-fit: contain;
     }
     &__content{
         width:45%;
         padding: 10px;
         //border: 1px solid grey;
        
         &--head{
             width: 85%;
             @include t.head();
            // border: 1px solid red;
         }
         @media screen and (max-width:$max-width-value) {
             width: 98%;
         }
 
         &--description{
             margin: 10px 0px;
             @include t.description();
         }
 
 
         &--tick-icon{
             width: 20px;
             height: 20px;
             border-radius: 50%;
             background-color: #d5ffe2;
             display: inline-block;
             & img{
                 width: 12px;
                 height: 12px;
                 margin-left: 4px;
             }
         }
         &--key-features-list{
             & li{
                margin-bottom: 10px;
             }
           @include t.key-features-list();
         }

         
         &--learn-more-btn{
             @include flexible($gap:5px);
             @include t.button-learnmore();
             padding: 5px;
             height: fit-content;
             width: fit-content;
             background-color:$logo-bg-color;
             color: $signup-btn-color;
             border: none;
             border-radius: 3px;
         
 
         & img{
             width: 20px;
             height: 15px;
         }
         }
     }
 
     @media screen  and (max-width:$max-width-value) {
         flex-direction: column;
         // justify-content: flex-start;
     }
 
     @media screen and (max-width:$logo-breakpoint) {
         height: auto;
     }
 
}