@import './variables';

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}


@mixin title() {
         font-size: 2rem;
         font-weight: bold;  
}

@mixin links(){
    font-size: 1.2rem;
    line-height:2;
    @media screen and (max-width:$max-width-value){
            font-weight: bold;
    }
}

@mixin head(){
    font-size: min(4rem ,calc(1.5rem + 2.5vw));
    font-weight: bold;
}


@mixin quote(){
    font-size: 0.8rem;
}

@mixin button(){
    font-weight: bold;
    font-size: 1.2rem;
}



