


$link-color: #64676e;
$text-color:#6b6c6d;

$brand-name-color: white;
$logo-bg-color: #0abf54;
$signup-btn-bg-color: #2b364a;
$signup-btn-color: white;
$client-words-bg-color:#e8ecef;
$heading-color:#2b364a;
$footer-link-color:#acafb4;
            
$highlight-text-color: #2b364a; 

$quote-color: #2b364a;

$max-width-value: 43.75em;
$max-width-value-mobile:500px;
$logo-breakpoint:1000px;



$link-hover-color: rgb(221, 221, 221);
$nav-mobile-bg-color: rgb(252,252,252);