body {
  font-family: "Times New Roman", Times, serif;
  font-size: 100%;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.navbar__mobile-view--close-icon, .navbar__menu-icon {
  position: absolute;
  right: 0;
  margin-right: 20px;
  width: 25px;
  height: 30px;
  cursor: pointer;
}

.container-1__img--wrapper--left-side, .container-1__img--wrapper--right-side {
  width: 20%;
  max-width: 250px;
  max-height: 100px;
}

.navbar {
  width: 100%;
  padding: 25px 10px;
  max-width: 1500px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  background-color: white;
}
.navbar__links {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5%;
}
.navbar__links--title {
  font-size: 2rem;
  font-weight: bold;
}
.navbar__links--title::first-letter {
  padding-left: 8px;
  padding-right: 2px;
  color: white;
  background-color: #0abf54;
  border-radius: 1px 10px;
}
.navbar__links--title:hover {
  cursor: pointer;
}
.navbar__links--link {
  color: #64676e;
  padding: 5px;
  font-size: 1.2rem;
  line-height: 2;
  position: relative;
}
@media screen and (max-width: 43.75em) {
  .navbar__links--link {
    font-weight: bold;
  }
}
.navbar__links--link:before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  border-radius: 1px;
  bottom: -5px;
  left: 0;
  background-color: #0abf54;
  transition: transform 0.3s ease-out;
}
.navbar__links--link .caret-down {
  font-size: min(0.9rem, 0.5rem + 1vw);
  align-self: center;
}
.navbar__links--link:hover::before {
  transform: scaleX(1);
}
@media screen and (max-width: 43.75em) {
  .navbar__links--link {
    display: none;
  }
}
.navbar__menu-icon {
  display: none;
  background: url("/unify-task-3/images/menu_FILL0_wght400_GRAD0_opsz48.svg");
}
@media screen and (max-width: 43.75em) {
  .navbar__menu-icon {
    display: block;
  }
}
.navbar__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.navbar__buttons--login {
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
}
.navbar__buttons--login:hover {
  cursor: pointer;
  color: #0abf54;
}
.navbar__buttons--signup {
  padding: 6px;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: #2b364a;
  font-weight: bold;
  font-size: 1rem;
}
.navbar__buttons--signup:hover {
  cursor: pointer;
  background-color: black;
}
@media screen and (max-width: 43.75em) {
  .navbar__buttons {
    display: none;
  }
}
@media screen and (max-width: 43.75em) {
  .navbar {
    justify-content: flex-start;
  }
}

.navbar__mobile-view {
  width: 0px;
  transition: width 0.5s, opacity 0.4s;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(252, 252, 252);
}
.navbar__mobile-view--close-icon {
  background: url(unify-task-3/images/xmark-solid.svg);
  background-repeat: no-repeat;
}
.navbar__mobile-view--title {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 10px;
}
.navbar__mobile-view--title::first-letter {
  padding-left: 8px;
  padding-right: 2px;
  color: white;
  background-color: #0abf54;
  border-radius: 1px 10px;
}
.navbar__mobile-view--title:hover {
  cursor: pointer;
}
.navbar__mobile-view--link {
  margin: 8px 5%;
  color: #64676e;
  font-size: 1.2rem;
  line-height: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
@media screen and (max-width: 43.75em) {
  .navbar__mobile-view--link {
    font-weight: bold;
  }
}
.navbar__mobile-view--link i {
  align-self: center;
}
.navbar__mobile-view--link:hover {
  color: #0abf54;
}
.navbar__mobile-view--login-button {
  margin: 5px 5%;
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
}
.navbar__mobile-view--login-button:hover {
  cursor: pointer;
  color: #0abf54;
}
.navbar__mobile-view--signup-button {
  margin: 3%;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: #2b364a;
  font-weight: bold;
  font-size: 1rem;
}
.navbar__mobile-view--signup-button:hover {
  cursor: pointer;
  background-color: black;
}
.navbar__mobile-view--expanded {
  transition: width 0.5s, opacity 0.4s;
  width: min(300px, 100vw);
  height: min(350px, 120vh);
  visibility: visible;
  opacity: 1;
  z-index: 10;
}
.navbar__mobile-view--compressed {
  overflow: hidden;
  visibility: hidden;
  transition: width 0.5s, opacity 0.4s;
  width: 0%;
  height: 0%;
  opacity: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 100%;
}

.navbar__menu-icon, .navbar__mobile-view--close-icon {
  position: absolute;
  right: 0;
  margin-right: 20px;
  width: 25px;
  height: 30px;
  cursor: pointer;
}

.container-1__img--wrapper--left-side, .container-1__img--wrapper--right-side {
  width: 20%;
  max-width: 250px;
  max-height: 100px;
}

.container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  margin: min(10%, 150px) auto;
  max-width: 1500px;
}
.container-1__img--wrapper--right-side {
  transform: translateY(-60px);
}
@media screen and (max-width: 1000px) {
  .container-1__img--wrapper--right-side {
    display: none;
  }
}
.container-1__img--wrapper--left-side {
  transform: translateY(-100px);
}
@media screen and (max-width: 1000px) {
  .container-1__img--wrapper--left-side {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .container-1__img--wrapper {
    display: none;
  }
}
.container-1__content {
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.container-1__content--input-fields {
  width: 90%;
  max-width: 650px;
  margin-top: 30px;
  display: inline-flex;
  border-radius: 3px;
  border: 1px solid rgba(180, 179, 179, 0.3);
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 500px) {
  .container-1__content--input-fields {
    width: 95%;
    justify-content: center;
    flex-direction: column;
  }
}
.container-1__content--input-fields input {
  padding-left: 15px;
  width: 45%;
  height: 50px;
  border: none;
  outline: none;
}
.container-1__content--input-fields input:first-child {
  border-bottom: 1px solid rgba(180, 179, 179, 0.4);
}
@media screen and (max-width: 500px) {
  .container-1__content--input-fields input {
    width: 100%;
  }
}
.container-1__content--input-fields button {
  margin: 3px;
  padding: 5px;
  min-width: 100px;
  border: 1px solid transparent;
  color: white;
  background-color: #0abf54;
  border-radius: 3px;
}
.container-1__content--input-fields button:hover {
  cursor: pointer;
  background-color: #09a749;
}
.container-1__content--quote {
  color: #2b364a;
  font-size: min(0.9rem, 0.5rem + 1vw);
}
.container-1__content--head1 {
  color: #2b364a;
  white-space: nowrap;
  font-size: min(5rem, 1.5rem + 2.7vw);
  font-weight: 600;
}
@media screen and (max-width: 43.75em) {
  .container-1__content--head1 {
    white-space: normal;
  }
}
.container-1__content--head2 {
  color: #0abf54;
  font-size: min(5rem, 1.5rem + 2.7vw);
  font-weight: 600;
}
.container-1__content--avatars {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1%;
}
@media screen and (max-width: 500px) {
  .container-1__content--avatars {
    flex-direction: column;
    white-space: normal;
  }
}
.container-1__content--avatars--icon {
  border: 2.5px solid white;
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.container-1__content--avatars--icon:not(:first-child) {
  margin-left: -12px;
}
.container-1__content--avatars--description {
  padding: 5px 10px;
  text-align: left;
  font-size: min(0.9rem, 0.5rem + 1vw);
  border-left: 1px solid rgba(180, 179, 179, 0.5);
}
.container-1__content--avatars--description b {
  color: #2b364a;
}
.container-1__content--avatars--description span {
  color: #64676e;
}
@media screen and (max-width: 500px) {
  .container-1__content--avatars--description {
    border: none;
    text-align: center;
  }
}

.container-2 {
  padding: 10px;
  max-width: 1500px;
  height: 600px;
  margin: min(8%, 50px) auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
@media screen and (max-width: 1000px) {
  .container-2 {
    justify-content: space-between;
    height: auto;
    padding: 20px;
  }
}
@media screen and (max-width: 43.75em) {
  .container-2 {
    width: 98%;
    flex-direction: column;
    gap: 2vw;
  }
}
.container-2__img--wrapper {
  width: 45%;
  max-width: 650px;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .container-2__img--wrapper {
    width: 50%;
  }
}
@media screen and (max-width: 43.75em) {
  .container-2__img--wrapper {
    width: 75%;
  }
}
@media screen and (max-width: 500px) {
  .container-2__img--wrapper {
    width: 96%;
  }
}
.container-2__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.container-2__content {
  width: 45%;
  padding-left: 20px;
}
@media screen and (max-width: 1000px) {
  .container-2__content {
    width: 55%;
  }
}
@media screen and (max-width: 43.75em) {
  .container-2__content {
    width: 98%;
    padding: 0px;
  }
}
.container-2__content--head {
  font-size: min(2.5rem, 1.3rem + 1.5vw);
  font-weight: 600;
}
@media screen and (max-width: 1000px) {
  .container-2__content--head {
    width: 95%;
  }
}
.container-2__content--description {
  margin: 20px 0px;
  font-size: min(1.1rem, 0.7rem + 1vw);
  line-height: 1.5;
  font-weight: normal;
}
@media screen and (max-width: 1000px) {
  .container-2__content--description {
    width: 96%;
  }
}
.container-2__content--tick-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}
.container-2__content--tick-icon img {
  width: 12px;
  height: 12px;
  margin-top: 4px;
  margin-left: 4px;
}
.container-2__content--key-features-list {
  margin-top: 20px;
  font-size: min(1.1rem, 0.7rem + 1vw);
}
.container-2__content--key-features-list li {
  margin-bottom: 20px;
}
.container-2__content--learn-more-btn {
  font-size: 0.8rem;
  padding: 10px;
  background-color: #0abf54;
  color: white;
  border: none;
  border-radius: 3px;
}
.container-2__content--learn-more-btn img {
  width: 25px;
  height: 12px;
}
.container-2__content--learn-more-btn:hover {
  cursor: pointer;
  background-color: #09a749;
}
.container-2__content--head {
  color: #2b364a;
}
.container-2__content--description {
  color: #55585b;
}
.container-2__content--description b {
  color: #2b364a;
}
.container-2__content--key-features-list {
  color: #55585b;
}
.container-2__content--tick-icon {
  background-color: #d5ffe2;
}

.container-3 {
  padding: 10px;
  max-width: 1500px;
  height: 600px;
  margin: min(8%, 50px) auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  background-color: #2b364a;
  color: white;
  border-radius: 10px;
}
@media screen and (max-width: 1000px) {
  .container-3 {
    justify-content: space-between;
    height: auto;
    padding: 20px;
  }
}
@media screen and (max-width: 43.75em) {
  .container-3 {
    width: 98%;
    flex-direction: column;
    gap: 2vw;
  }
}
.container-3__img--wrapper {
  width: 45%;
  max-width: 650px;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .container-3__img--wrapper {
    width: 50%;
  }
}
@media screen and (max-width: 43.75em) {
  .container-3__img--wrapper {
    width: 75%;
  }
}
@media screen and (max-width: 500px) {
  .container-3__img--wrapper {
    width: 96%;
  }
}
.container-3__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.container-3__content {
  width: 45%;
  padding-left: 20px;
}
@media screen and (max-width: 1000px) {
  .container-3__content {
    width: 55%;
  }
}
@media screen and (max-width: 43.75em) {
  .container-3__content {
    width: 98%;
    padding: 0px;
  }
}
.container-3__content--head {
  font-size: min(2.5rem, 1.3rem + 1.5vw);
  font-weight: 600;
}
@media screen and (max-width: 1000px) {
  .container-3__content--head {
    width: 95%;
  }
}
.container-3__content--description {
  margin: 20px 0px;
  font-size: min(1.1rem, 0.7rem + 1vw);
  line-height: 1.5;
  font-weight: normal;
}
@media screen and (max-width: 1000px) {
  .container-3__content--description {
    width: 96%;
  }
}
.container-3__content--tick-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}
.container-3__content--tick-icon img {
  width: 12px;
  height: 12px;
  margin-top: 4px;
  margin-left: 4px;
}
.container-3__content--key-features-list {
  margin-top: 20px;
  font-size: min(1.1rem, 0.7rem + 1vw);
}
.container-3__content--key-features-list li {
  margin-bottom: 20px;
}
.container-3__content--learn-more-btn {
  font-size: 0.8rem;
  padding: 10px;
  background-color: #0abf54;
  color: white;
  border: none;
  border-radius: 3px;
}
.container-3__content--learn-more-btn img {
  width: 25px;
  height: 12px;
}
.container-3__content--learn-more-btn:hover {
  cursor: pointer;
  background-color: #09a749;
}
.container-3__content--head {
  color: white;
}
.container-3__content--description {
  color: #ebeff3;
}
.container-3__content--key-features-list {
  color: #ebeff3;
}
.container-3__content {
  padding-left: 7%;
}
@media screen and (max-width: 1000px) {
  .container-3__content {
    padding: 0px;
  }
}
.container-3__content--tick-icon {
  background-color: #2b364a;
}

.container-4 {
  padding: 10px;
  max-width: 1500px;
  height: 600px;
  margin: min(8%, 50px) auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
@media screen and (max-width: 1000px) {
  .container-4 {
    justify-content: space-between;
    height: auto;
    padding: 20px;
  }
}
@media screen and (max-width: 43.75em) {
  .container-4 {
    width: 98%;
    flex-direction: column;
    gap: 2vw;
  }
}
.container-4__img--wrapper {
  width: 45%;
  max-width: 650px;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .container-4__img--wrapper {
    width: 50%;
  }
}
@media screen and (max-width: 43.75em) {
  .container-4__img--wrapper {
    width: 75%;
  }
}
@media screen and (max-width: 500px) {
  .container-4__img--wrapper {
    width: 96%;
  }
}
.container-4__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.container-4__content {
  width: 45%;
  padding-left: 20px;
}
@media screen and (max-width: 1000px) {
  .container-4__content {
    width: 55%;
  }
}
@media screen and (max-width: 43.75em) {
  .container-4__content {
    width: 98%;
    padding: 0px;
  }
}
.container-4__content--head {
  font-size: min(2.5rem, 1.3rem + 1.5vw);
  font-weight: 600;
}
@media screen and (max-width: 1000px) {
  .container-4__content--head {
    width: 95%;
  }
}
.container-4__content--description {
  margin: 20px 0px;
  font-size: min(1.1rem, 0.7rem + 1vw);
  line-height: 1.5;
  font-weight: normal;
}
@media screen and (max-width: 1000px) {
  .container-4__content--description {
    width: 96%;
  }
}
.container-4__content--tick-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}
.container-4__content--tick-icon img {
  width: 12px;
  height: 12px;
  margin-top: 4px;
  margin-left: 4px;
}
.container-4__content--key-features-list {
  margin-top: 20px;
  font-size: min(1.1rem, 0.7rem + 1vw);
}
.container-4__content--key-features-list li {
  margin-bottom: 20px;
}
.container-4__content--learn-more-btn {
  font-size: 0.8rem;
  padding: 10px;
  background-color: #0abf54;
  color: white;
  border: none;
  border-radius: 3px;
}
.container-4__content--learn-more-btn img {
  width: 25px;
  height: 12px;
}
.container-4__content--learn-more-btn:hover {
  cursor: pointer;
  background-color: #09a749;
}
.container-4__content--head {
  color: #2b364a;
}
.container-4__content--description {
  color: #55585b;
}
.container-4__content--description b {
  color: #2b364a;
}
.container-4__content--key-features-list {
  width: 100%;
  margin-top: 25px;
  color: #55585b;
  font-size: min(1.1rem, 0.7rem + 1vw);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.1vw;
  white-space: nowrap;
}
@media screen and (max-width: 43.75em) {
  .container-4__content--key-features-list {
    flex-wrap: wrap;
    white-space: normal;
  }
}
.container-4__content--key-features-list--col {
  display: inline-flex;
  flex-direction: column;
}
.container-4__content--key-features-list--col--arrow-icon {
  width: 25px;
  height: 12px;
}
.container-4__content--key-features-list--col span {
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.container-5 {
  padding: 5px;
  width: 90%;
  margin: min(8%, 50px) auto;
  max-width: 1500px;
  margin: 0px auto;
}
.container-5--head {
  color: #2b364a;
  padding-left: 20px;
  font-size: min(2.5rem, 1.3rem + 1.5vw);
  font-weight: 600;
  margin-bottom: 25px;
}
.container-5__timeline {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1%;
}
.container-5__timeline__element {
  width: 25%;
  min-height: 200px;
  position: relative;
}
.container-5__timeline__element__time {
  padding: 10px;
  line-height: 1.2;
}
.container-5__timeline__element__time--day {
  color: #55585b;
  font-size: min(1.1rem, 0.7rem + 1vw);
  line-height: 1.5;
  font-weight: normal;
}
.container-5__timeline__element__time--year {
  color: #0abf54;
  font-size: min(2.5rem, 1.3rem + 1.5vw);
  font-weight: 600;
}
.container-5__timeline__element__time::after {
  content: "";
  display: block;
  background-color: white;
  border: 1px solid #0abf54;
  border-radius: 50%;
  position: absolute;
  top: unset;
  left: -0.5%;
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 1000px) {
  .container-5__timeline__element__time {
    border: none;
    padding: 0px;
  }
  .container-5__timeline__element__time::after {
    display: none;
  }
}
.container-5__timeline__element__achievement {
  font-size: min(1.1rem, 0.7rem + 1vw);
  line-height: 1.5;
  font-weight: normal;
  padding: 10px;
  border-top: 2px solid #0abf54;
}
.container-5__timeline__element__achievement p {
  color: #55585b;
}
.container-5__timeline__element__achievement::before {
  content: "";
  display: block;
  background-color: #0abf54;
  border-radius: 50%;
  position: relative;
  top: -15px;
  left: -1.7%;
  width: 9px;
  height: 9px;
  z-index: 2;
}
@media screen and (max-width: 1000px) {
  .container-5__timeline__element__achievement {
    border: none;
    padding: 0px;
    margin-top: 20px;
  }
  .container-5__timeline__element__achievement::before {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .container-5__timeline__element {
    width: min(400px, 98%);
    border-left: 2px solid #0abf54;
    padding-left: 5%;
    margin-left: 10%;
  }
  .container-5__timeline__element::before {
    content: "";
    display: block;
    background-color: white;
    border: 1px solid #0abf54;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -11px;
    width: 20px;
    height: 20px;
  }
  .container-5__timeline__element::after {
    content: "";
    display: block;
    background-color: #0abf54;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: -5px;
    width: 9px;
    height: 9px;
    z-index: 2;
  }
}
@media screen and (max-width: 500px) {
  .container-5__timeline__element {
    padding-left: 10%;
  }
}
@media screen and (max-width: 1000px) {
  .container-5__timeline {
    flex-direction: column;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.container-6 {
  padding: 10px;
  width: 80%;
  height: 400px;
  max-width: 1000px;
  margin: min(8%, 50px) auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2%;
  background-color: #e8ecef;
}
.container-6__img--wrapper {
  height: 380px;
  padding: 10px;
}
@media screen and (max-width: 43.75em) {
  .container-6__img--wrapper {
    width: 60%;
    height: auto;
  }
}
@media screen and (max-width: 500px) {
  .container-6__img--wrapper {
    width: 80%;
  }
}
.container-6__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.container-6__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  width: 50%;
}
.container-6__content--client {
  color: #55585b;
  font-size: min(0.9rem, 0.5rem + 1vw);
}
.container-6__content--client-words {
  color: #2b364a;
  font-size: min(1.3rem, 1rem + 1vw);
  font-weight: 550;
}
.container-6__content--client-name {
  color: #2b364a;
  font-size: min(1.1rem, 0.7rem + 1vw);
}
.container-6__content--client-designation {
  margin-top: 3px;
  color: #55585b;
  font-size: min(0.9rem, 0.5rem + 1vw);
}
.container-6__content--client-story-read-btn {
  margin: 12px 0px;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: #2b364a;
  font-weight: bold;
  font-size: 1rem;
}
.container-6__content--client-story-read-btn:hover {
  cursor: pointer;
  background-color: black;
}
@media screen and (max-width: 43.75em) {
  .container-6__content {
    width: 90%;
    margin-top: 15px;
  }
}
@media screen and (max-width: 43.75em) {
  .container-6 {
    flex-direction: column;
  }
}
@media screen and (max-width: 1000px) {
  .container-6 {
    width: 90%;
    height: auto;
  }
}

.container-7 {
  padding: 5px;
  width: 90%;
  margin: min(8%, 50px) auto;
  max-width: 1500px;
}
@media screen and (max-width: 1000px) {
  .container-7 {
    width: 95%;
  }
}
.container-7__price-info {
  color: #55585b;
  text-align: center;
}
.container-7__head {
  width: 40%;
  margin: 40px auto;
  font-size: min(2.5rem, 1.3rem + 1.5vw);
  font-weight: 600;
  color: #2b364a;
}
@media screen and (max-width: 1000px) {
  .container-7__head {
    width: auto;
    text-align: center;
  }
}
.container-7__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
  margin: 20px 0px;
}
@media screen and (max-width: 43.75em) {
  .container-7__cards {
    flex-direction: column;
    gap: 2vw;
  }
}
.container-7__card {
  width: 50%;
  max-width: 650px;
  padding: 40px 0px 10px min(40px, 4%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid rgba(180, 179, 179, 0.4);
  border-radius: 6px;
}
@media screen and (max-width: 43.75em) {
  .container-7__card {
    width: 85%;
  }
}
@media screen and (max-width: 500px) {
  .container-7__card {
    width: 96%;
  }
}
.container-7__card--subscription-short-note {
  color: #55585b;
}
.container-7__card--subscription-price {
  color: #55585b;
}
.container-7__card--subscription-price--currency-type {
  color: #55585b;
}
.container-7__card--subscription-price span:nth-child(1) {
  color: #2b364a;
  font-size: min(2.5rem, 1.3rem + 1.5vw);
  font-weight: 600;
}
.container-7__card--subscription-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
  flex-wrap: wrap;
}
.container-7__card--subscription-details li {
  color: #55585b;
  margin-bottom: 20px;
}
.container-7__card--subscription--popular {
  align-self: flex-end;
  background-color: #2b364a;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 3px;
}
.container-7__card--subscription-benefits--tick-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff0e7;
}
.container-7__card--subscription-benefits--tick-icon img {
  width: 12px;
  height: 12px;
  margin-top: 4px;
  margin-left: 4px;
}
.container-7__card--subscription-drawbacks--tick-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(218, 217, 217);
}
.container-7__card--subscription-drawbacks--tick-icon img {
  width: 12px;
  height: 12px;
  margin-top: 4px;
  margin-left: 4px;
}
.container-7__card--free-trail {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
  flex-wrap: wrap;
  color: #55585b;
}
.container-7__card--free-trail button {
  font-size: 0.8rem;
  padding: 10px;
  background-color: #0abf54;
  color: white;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
}
.container-7__card--free-trail button img {
  width: 25px;
  height: 12px;
}
.container-7__card--free-trail button:hover {
  cursor: pointer;
  background-color: #09a749;
}
.container-7__card--tick-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}
.container-7__card--tick-icon img {
  width: 12px;
  height: 12px;
  margin-top: 4px;
  margin-left: 4px;
}
.container-7__card--free-trail button {
  background-color: transparent;
  border: 1px solid grey;
  color: black;
}
.container-7__card--free-trail button:hover {
  cursor: pointer;
  background-color: #b3b3b3;
}
.container-7__card-popular {
  width: 50%;
  max-width: 650px;
  padding: 40px 0px 10px min(40px, 4%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid rgba(180, 179, 179, 0.4);
  border-radius: 6px;
  padding-top: 0px;
  padding-right: 0px;
  box-shadow: 0px 4px 8px rgba(180, 179, 179, 0.4);
}
@media screen and (max-width: 43.75em) {
  .container-7__card-popular {
    width: 85%;
  }
}
@media screen and (max-width: 500px) {
  .container-7__card-popular {
    width: 96%;
  }
}
.container-7__card-popular--subscription-short-note {
  color: #55585b;
}
.container-7__card-popular--subscription-price {
  color: #55585b;
}
.container-7__card-popular--subscription-price--currency-type {
  color: #55585b;
}
.container-7__card-popular--subscription-price span:nth-child(1) {
  color: #2b364a;
  font-size: min(2.5rem, 1.3rem + 1.5vw);
  font-weight: 600;
}
.container-7__card-popular--subscription-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
  flex-wrap: wrap;
}
.container-7__card-popular--subscription-details li {
  color: #55585b;
  margin-bottom: 20px;
}
.container-7__card-popular--subscription--popular {
  align-self: flex-end;
  background-color: #2b364a;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 3px;
}
.container-7__card-popular--subscription-benefits--tick-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff0e7;
}
.container-7__card-popular--subscription-benefits--tick-icon img {
  width: 12px;
  height: 12px;
  margin-top: 4px;
  margin-left: 4px;
}
.container-7__card-popular--subscription-drawbacks--tick-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(218, 217, 217);
}
.container-7__card-popular--subscription-drawbacks--tick-icon img {
  width: 12px;
  height: 12px;
  margin-top: 4px;
  margin-left: 4px;
}
.container-7__card-popular--free-trail {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
  flex-wrap: wrap;
  color: #55585b;
}
.container-7__card-popular--free-trail button {
  font-size: 0.8rem;
  padding: 10px;
  background-color: #0abf54;
  color: white;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
}
.container-7__card-popular--free-trail button img {
  width: 25px;
  height: 12px;
}
.container-7__card-popular--free-trail button:hover {
  cursor: pointer;
  background-color: #09a749;
}
.container-7__card-popular--tick-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}
.container-7__card-popular--tick-icon img {
  width: 12px;
  height: 12px;
  margin-top: 4px;
  margin-left: 4px;
}

.container-8 {
  max-width: 1500px;
  margin: min(8%, 50px) auto;
  width: 90%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
}
@media screen and (max-width: 43.75em) {
  .container-8 {
    flex-direction: column;
    padding-left: 30px;
    width: 100%;
  }
}
.container-8--head {
  width: 30%;
  font-size: min(2.5rem, 1.3rem + 1.5vw);
  font-weight: 600;
  align-self: flex-start;
  color: #2b364a;
}
@media screen and (max-width: 43.75em) {
  .container-8--head {
    width: 100%;
  }
}
.container-8__content {
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}
.container-8__content summary {
  font-size: min(1.3rem, 1rem + 1vw);
  color: black;
  margin: 10px;
  min-height: 50px;
  width: auto;
}
.container-8__content summary:hover {
  cursor: pointer;
}
.container-8__content summary::marker {
  content: "+ ";
  font-size: 1.5rem;
}
.container-8__content summary + div {
  margin-left: 10px;
  margin-top: 10px;
  color: #55585b;
  font-size: min(1.1rem, 0.7rem + 1vw);
  line-height: 1.5;
  font-weight: normal;
}
.container-8__content details[open] summary::marker {
  content: "- ";
  font-size: 2rem;
}
@media screen and (max-width: 43.75em) {
  .container-8__content {
    width: 100%;
  }
}

.footer {
  margin-inline: auto;
  margin-top: min(8%, 50px);
  max-width: 1500px;
  width: 90%;
  padding: 20px 60px;
  color: white;
}
.footer--wrapper {
  width: 100vw;
  background-color: #2b364a;
}
.footer--head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
@media screen and (max-width: 43.75em) {
  .footer--head {
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer--head span {
  color: #acafb4;
}
.footer--head--description {
  font-size: 2rem;
  font-weight: bold;
}
.footer--head--request-demo-btn {
  margin: 20px 0px;
  font-size: 0.8rem;
  padding: 10px;
  background-color: #0abf54;
  color: white;
  border: none;
  border-radius: 3px;
}
.footer--head--request-demo-btn img {
  width: 25px;
  height: 12px;
}
.footer--head--request-demo-btn:hover {
  cursor: pointer;
  background-color: #09a749;
}
.footer--head--sign-up-btn {
  margin-left: 10px;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: #2b364a;
  font-weight: bold;
  font-size: 1rem;
  padding: 8px 5px;
}
.footer--head--sign-up-btn:hover {
  cursor: pointer;
  background-color: black;
}
.footer--head--sign-up-btn img {
  height: 12px;
}
.footer__content {
  width: 100%;
}
.footer__content--footer-links {
  width: 95%;
  margin: 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 1000px) {
  .footer__content--footer-links {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 500px) {
  .footer__content--footer-links {
    margin-left: 0px;
  }
}
@media screen and (max-width: 1000px) {
  .footer__content--links-col {
    flex-basis: 30%;
  }
}
@media screen and (max-width: 43.75em) {
  .footer__content--links-col {
    flex-basis: 45%;
  }
}
@media screen and (max-width: 500px) {
  .footer__content--links-col {
    flex-basis: 80%;
  }
}
.footer__content--links-col li {
  margin-bottom: 15px;
}
.footer__content--links-col li img {
  height: 12px;
}
.footer__content--links-col li:hover {
  color: white;
  cursor: pointer;
}
.footer__content--links-col--head {
  color: white;
}
.footer__content--links-col:not(.footer__content--links-col--head) {
  color: #acafb4;
}
.footer__content--others {
  border-top: 1px solid grey;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
}
.footer__content--others div > span {
  color: #ebeff3;
  line-height: 2.5;
  position: relative;
}
.footer__content--others div > span:before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  border-radius: 1px;
  bottom: -5px;
  left: 0;
  background-color: #0abf54;
  transition: transform 0.3s ease-out;
}
.footer__content--others div > span:hover {
  cursor: pointer;
}
.footer__content--others div > span:hover:before {
  transform: scaleX(1);
}
.footer__content--others img {
  margin-top: 20px;
  width: 25px;
  height: 12px;
}
@media screen and (max-width: 500px) {
  .footer__content--others {
    padding: 10px;
  }
}
@media screen and (max-width: 43.75em) {
  .footer {
    padding: 20px;
  }
}/*# sourceMappingURL=app.css.map */